* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  background-color: black;
}

.button {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.sContainer {
  width: 700px;
  height: 700px;
  display: flex;
  flex-flow: row wrap;
}

.square {
  border: 1px solid black;
  background-color: hsl(0, 0%, 100%);
}
